.container {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
}

.mat-toolbar.mat-primary {
  background: #ffffff;
  color: #000000;
}

.title-container {
  display: flex;
  flex-direction: row;
  font-size: 36px;
}

.title-icon {
  margin: auto;
  transform: scale(1.5);
}

.title-text {
  margin: auto;
}

.flex-item {
  padding: 5vh;
  margin: auto;
  flex: 1 1 auto;
  flex-basis: 50%;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 25vw;
  height: 25vw;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform .2s;
  overflow: hidden;
}
