<div>
  <mat-toolbar color="primary" class="about-toolbar">
    <div class="spacer"></div>
    <div data-aos="fade-down" class="title-container">
      <mat-icon class="title-icon">person_filled</mat-icon>
      &nbsp;
      <div class="title-text">About Me</div>
    </div>
    <div class="spacer"></div>
  </mat-toolbar>
  <div class="container">
    <div class="flex-item" data-aos="fade-down" data-aos-duration="500">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum feugiat sem, in ultrices nisl volutpat a. Vestibulum enim nisi, euismod nec sapien ut, gravida posuere nulla. Praesent pretium nec massa sed semper. Sed nec suscipit quam, quis hendrerit ex. Duis malesuada varius nibh blandit dapibus. Phasellus volutpat, nisl sed semper egestas, sem massa gravida lacus, tempor eleifend enim sapien vel risus. Ut egestas nisl ut tincidunt pharetra. Morbi viverra ipsum sed aliquam vestibulum. Vivamus consectetur odio a elit vehicula, quis iaculis lectus malesuada. Ut in quam pellentesque, finibus velit at, vestibulum est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo a leo quis auctor. Sed posuere eget mi non interdum.
    </div>
    <div class="flex-item" data-aos="fade-down" data-aos-duration="500">

    </div>
  </div>
</div>

