<div>
  <mat-toolbar color="primary" class="about-toolbar">
    <div class="spacer"></div>
    <div data-aos="fade-down" class="title-container">
      <mat-icon class="title-icon">person_filled</mat-icon>
      &nbsp;
      <div class="title-text">About Me</div>
    </div>
    <div class="spacer"></div>
  </mat-toolbar>
  <div class="container">
    <div class="flex-item" data-aos="fade-down" data-aos-duration="500">
      <div data-aos="fade-down" data-aos-duration="1300" class="img-container">
        <img src="assets/computer.png">
      </div>
    </div>
    <div class="flex-item" data-aos="fade-down" data-aos-duration="500">
      <h1>I am Jake Zhang</h1>
      <h2>Hi! I'm Jake Zhang, a grade 12 student at Pierre Elliott Trudeau high school hoping to pursue a career in computer science or software engineering. I'm passionate about competitive programming, problem-solving, and Angular front-end web development.</h2>
    </div>
  </div>
</div>

