.container {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}

h1 {
  font-size: 3.5vw;
  padding: 2vh;
}

h2 {
  font-size: 1.5vw;
  padding: 2vh;
}

.flex-item {
  width: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.title {
  text-align: left;
  width: 80%;
  margin: auto;
}

img {
  transition: transform .2s;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 25vw;
  height: 25vw;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform .2s;
  overflow: hidden;
}

.profile-picture {
  transition: transform .2s;
}

.profile-picture:hover {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
}
